<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css" integrity="sha512-w+ZNMsGPp4yoMk4siGJbfIdO9szeJ0dyTeOmCRJifSxxq0ELqve+MHF2cZGBaGGZ0v6U9d6+Gj6bdUMSLlAMpQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <h3>This is the persistent information.</h3>
    {% block content %}Let's see if this shows{% endblock %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js" integrity="sha512-5Kj0qFyfOKpTX8VwWISrpR5zuH0cXbrvXd8V+GdxOVpKETjMkInOvz8+91AilDfoeB2ZKzXrXVbNN+dmLgjQDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
